In [ ]:
'''1. Explain the key features of Python that make it a popular choice for programming

Python is a popular language because of its readability, versatility, and efficiency.
key features:
a. Simple and Easy to Learn: Python's syntax is straightforward, allowing new to read and write code easily.
b. Interpreted Language: Python executes line by line, which simplifies debugging and testing.
c. Dynamic Typing: Python allows variables to change type dynamically, which means you don’t need to declare variable types explicitly.
d. Extensive Libraries: Python’s libraries, like NumPy, Pandas, and Django, make it easy to perform various tasks, from data science to web development.
e. Cross-Platform Compatibility: Python can run on different operating systems without modification.
f. Object-Oriented and Functional: Python supports both paradigms, which adds flexibility.'''

In [ ]:

'''2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program

Keywords are reserved words in Python used to define the structure and syntax. They cannot be used as identifiers (variable names). Examples include if, else, while, for, and return.'''

def check_even(num):       # 'def' and 'return' are keywords
    if num % 2 == 0:       # 'if' is a keyword
        return True        # 'return' is a keyword
    else:                  # 'else' is a keyword
        return False

print(check_even(4))

True

In [ ]:
3. ''' Compare and contrast mutable and immutable objects in Python with examples

Mutable Objects: These are objects whose value can be changed after creation. Lists and dictionaries are examples of mutable objects.'''

# Mutable example
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

In [ ]:
''' Immutable Objects: These cannot be changed once created. Tuples and strings are examples of immutable objects.'''

# Immutable example
my_tuple = (1, 2, 3)
my_tuple[0] = 10             # This will cause an error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
'''4. Discuss the different types of operators in Python and provide examples of how they are used '''

In [ ]:
'Python operators are symbols or keywords that perform operations on variables and values. Python provides several types of operators to handle different operations, such as arithmetic calculations, comparisons, logical operations, and more''

In [ ]:
'''Arithmetic Operators
Arithmetic operators perform mathematical operations.

Operator	Description	Example
+	Addition	5 + 3 = 8
-	Subtraction	5 - 3 = 2
*	Multiplication	5 * 3 = 15
/	Division	5 / 3 = 1.67
%	Modulus	5 % 3 = 2
**	Exponentiation	5 ** 3 = 125
//	Floor Division	5 // 3 = 1 '''

In [ ]:
a = 18
b = 3
print(a + b)  # Additition
print(a - b)  #subtraction
print(a * b)  #multiplication
print(a / b)  #division
print(a % b)  #modulus
print(a ** b) #Expoentiation
print(a // b) #floor division

21
15
54
6.0
0
5832
6

In [ ]:
''' Comparison (Relational) Operators
Comparison operators compare values and return either True or False.

Operator	Description	Example
==	Equal	5 == 3 → False
!=	Not equal	5 != 3 → True
>	Greater than	5 > 3 → True
<	Less than	5 < 3 → False
>=	Greater than or equal to	5 >= 3 → True
<=	Less than or equal to	5 <= 3 → False '''

In [ ]:
a = 6
b = 5
print(a == b)  #equal
print(a != b)  #not equal
print(a > b)   #greater than
print(a < b)   #less than
print(a >= b)  #greater than or equal
print(a <= b) #lesser than or equal

False
True
True
False
True
False

In [ ]:
''' 4. Assignment Operators
Assignment operators assign values to variables. They also combine assignment with other operations.

Operator	Description 	    Example
=	        Simple assignment 	x = 5
+=	      Add and assign	    x += 3
-=      	Subtract and assign	x -= 3
*=        Multiply and assign	x *= 3
/=	      Divide and assign 	x /= 3
%=	     Modulus and assign	  x %= 3
**=    	Exponent and assign 	x **= 3
//=	  Floor divide and assign x //= 3 '''

In [ ]:
x = 10   # Initial assignment
print("Initial value of x:", x)

# Add and assign
x += 5    # x = x + 5
print("After x += 5:", x)

# Subtract and assign
x -= 3    # x = x - 3
print("After x -= 3:", x)

# Multiply and assign
x *= 2    # x = x * 2
print("After x *= 2:", x)

# Divide and assign
x /= 4    # x = x / 4
print("After x /= 4:", x)
# Modulus and assign
x %= 5    # x = x % 5
print("After x %= 5:", x)

# Exponent and assign
x **= 3   # x = x ** 3
print("After x **= 3:", x)

# Floor divide and assign
x = 20    # Reset x to 20
x //= 3   # x = x // 3
print("After x //= 3:", x)

Initial value of x: 10
After x += 5: 15
After x -= 3: 12
After x *= 2: 24
After x /= 4: 6.0
After x %= 5: 1.0
After x **= 3: 1.0
After x //= 3: 6

In [ ]:
5. '''Bitwise Operators
Bitwise operators perform operations on binary numbers.

Operator	Description	Example
&	        AND	       5 & 3 → 1
`	         `	       OR
^	         XOR	     5 ^ 3 → 6
~	         NOT     	~5 → -6
<<	 Left Shift	    5 << 1 → 10
>>	Right Shift   	5 >> 1 → 2 '''

In [ ]:
a = 5  # Binary: 0101
b = 3  # Binary: 0011
print(a & b)  #(Binary: 0001)
print(a | b)  #(Binary: 0111)
print(a ^ b)  #(Binary: 0110)
print(~a)
print(a << 1) #(Binary: 1010)
print(a >> 1) #(Binary: 0010)

1
7
6
-6
10
2

In [ ]:
'''Membership Operators
Membership operators check if a value exists in a sequence (such as a list, string, tuple, etc.).

Operator	Description	Example
in	True if value is in the sequence	3 in [1, 2, 3] → True
not in	True if value is not in the sequence	4 not in [1, 2, 3] → True'''

In [ ]:
fruits = ["apple", "banana", "cherry"]
print("PINK" in fruits)
print("RED" not in fruits)

False
True

In [ ]:
""" Identity Operators
Identity operators compare the memory location of two objects.

Operator	Description	Example
is	True if both variables are the same object	a is b
is not	True if both variables are not the same object	a is not b '''

In [ ]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print(a is b)       # (both a and b refer to the same object)
print(a is c)       # (a and c are different objects)
print(a == c)       # (a and c have the same content)

True
False
True

In [ ]:
"""5.Explain the concept of type casting in Python with examples'''

In [ ]:
'''Type Casting
Type casting is converting one data type to another, which can be implicit or explicit.'''


# Initial values
x_int = 10             # Integer
y_float = 3.5          # Float
str_num = "123"        # Numeric string
str_float = "123.45"   # Float string
str_text = "Hello"     # Non-numeric string
my_list = [1, 2, 3, 4] # List
my_tuple = (5, 6, 7)   # Tuple

# 1. Implicit Type Casting (Integer + Float)
result_implicit = x_int + y_float
print("Implicit Type Casting (int + float):", result_implicit)
print("Type after implicit casting:", type(result_implicit))

# 2. Explicit Type Casting Examples

# Integer to Float
y_explicit = float(x_int)
print("Integer to Float:", y_explicit)

# Float to Integer (Truncates decimal part)
y_explicit = int(y_float)
print("Float to Integer:", y_explicit)

# Integer to String
y_explicit = str(x_int)
print("Integer to String:", y_explicit)

# String to Integer
y_explicit = int(str_num)
print("String to Integer:", y_explicit)

# String to Float
y_explicit = float(str_float)
print("String to Float:", y_explicit)

# List to Tuple
y_explicit = tuple(my_list)
print("List to Tuple:", y_explicit)

# Tuple to List
y_explicit = list(my_tuple)
print("Tuple to List:", y_explicit)

# String to List
y_explicit = list(str_text)
print("String to List:", y_explicit)

Implicit Type Casting (int + float): 13.5
Type after implicit casting: <class 'float'>
Integer to Float: 10.0
Float to Integer: 3
Integer to String: 10
String to Integer: 123
String to Float: 123.45
List to Tuple: (1, 2, 3, 4)
Tuple to List: [5, 6, 7]
String to List: ['H', 'e', 'l', 'l', 'o']

In [ ]:
'''6.  How do conditional statements work in Python? Illustrate with examples'''

# 1. Simple if statement
x = 10
if x > 5:
    print("x is greater than 5")

# 2. if-else statement
y = 3
if y > 5:
    print("y is greater than 5")
else:
    print("y is not greater than 5")

# 3. if-elif-else statement
z = 15
if z < 5:
    print("z is less than 5")
elif z < 10:
    print("z is less than 10 but greater than or equal to 5")
elif z < 20:
    print("z is less than 20 but greater than or equal to 10")
else:
    print("z is 20 or greater")

# 4. Nested if statements
a = 7
if a > 0:
    print("a is positive")
    if a % 2 == 0:
        print("a is even")
    else:
        print("a is odd")
else:
    print("a is zero or negative")

# 5. Using conditional expressions (ternary operator)
b = 8
result = "b is even" if b % 2 == 0 else "b is odd"
print(result)

# 6. Checking multiple conditions with and, or
c = 12
d = 5
if c > 10 and d < 10:
    print("Both conditions are true")
if c < 10 or d < 10:
    print("At least one condition is true")

# 7. Using "in" with conditions (checking membership)
fruits = ["apple", "banana", "cherry"]
if "apple" in fruits:
    print("Apple is in the list")
if "orange" not in fruits:
    print("Orange is not in the list")

# 8. Using "is" to check for identity
e = None
if e is None:
    print("e is None")
f = 20
if f is not None:
    print("f is not None")

x is greater than 5
y is not greater than 5
z is less than 20 but greater than or equal to 10
a is positive
a is odd
b is even
Both conditions are true
At least one condition is true
Apple is in the list
Orange is not in the list
e is None
f is not None

In [ ]:
''' Describe the different types of loops in Python and their use cases with examples.
Loops are used to execute a block of code repeatedly, based on a condition or a sequence. Python provides two main types of loops:

for loop: Iterates over a sequence (like a list, tuple, string, or range) and executes a block of code for each item in the sequence.
while loop: Repeats a block of code as long as a condition is true.'''

In [ ]:
'''. for Loop
The for loop is used to iterate over a sequence (such as a list, tuple, or string) or a range of numbers. It automatically assigns each value from the sequence to the loop variable.

Syntax:
for variable in sequence:
    # Code block
Use case: The for loop is useful when you know how many times you want to iterate, or when you need to iterate through all items in a collection.'''

# Example 1: Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# Example 2: Using range to repeat a block multiple times
for i in range(1, 6):  # Iterates from 1 to 5
    print(i)  # Output: 1, 2, 3, 4, 5

# Example 3: Iterating over a string
word = "SANJANA"
for letter in word:
    print(letter)

apple
banana
cherry
1
2
3
4
5
S
A
N
J
A
N
A

In [ ]:
'''while Loop
The while loop continues executing a block of code as long as the specified condition is true. It is useful when the number of iterations is not known beforehand, but the continuation depends on a condition.

Syntax:
while condition:
    # Code block
Use case: The while loop is used when the number of iterations is unknown, or based on a dynamic condition that may change during execution.'''

# Example 1: Using while to repeat code until a condition is met
x = 0
while x < 7:
    print(x)
    x += 1  # Increment x to avoid infinite loop

# Example 2: Infinite loop with a break condition
y = 10
while True:  # This will run indefinitely until broken
    print(y)
    y -= 1  # Decrement y
    if y == 5:
        break  # Breaks out of the loop when y is 5

0
1
2
3
4
5
6
10
9
8
7
6

In [ ]:
'''Nested Loops
You can place one loop inside another, known as nested loops. This allows you to perform multiple iterations over multiple sequences.

Use case: Nested loops are useful when you need to iterate over multi-dimensional data structures (like lists of lists).'''

# Example 1: Nested for loops
for i in range(3):
    for j in range(3):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
x = 0, y = 0
x = 0, y = 1
x = 0, y = 2
x = 1, y = 0
x = 1, y = 1
x = 1, y = 2

In [ ]:
# Example 2: Nested while loops
x = 0
while x < 2:  # Outer while loop
    y = 0
    while y < 3:  # Inner while loop
        print(f"x = {x}, y = {y}")
        y += 1
    x += 1

x = 0, y = 0
x = 0, y = 1
x = 0, y = 2
x = 1, y = 0
x = 1, y = 1
x = 1, y = 2

In [ ]:
 '''break, continue, and else with Loops
break: Exits the loop entirely, regardless of the loop condition.
continue: Skips the current iteration and continues with the next iteration of the loop.
else: The else block after a loop executes if the loop completes normally (without a break).'''

# Example 1: Using break to exit a loop
for i in range(10):
    if i == 5:
        break  # Exits the loop when i is 5
    print(i)  # Output: 0, 1, 2, 3, 4

0
1
2
3
4

In [ ]:

# Example 2: Using continue to skip an iteration
for i in range(10):
    if i == 5:
        continue  # Skips the iteration when i is 5
    print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# Example 3: Using else with a for loop
for i in range(5):
    print(i)
else:
    print("Loop completed successfully.")

0
1
2
3
4
Loop completed successfully.

In [ ]:
# Example 4: Using else with break
for i in range(5):
    if i == 3:
        break  # Exits the loop before reaching the else
else:
    print("Loop completed successfully.")  # This won't be printed because of break